<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/info.css}">
    <script src="https://kit.fontawesome.com/3edce6b09c.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" th:href="@{/image/logocoffee.png}" type="image/x-icon">
    <title>Sanctuary Coffee</title>
</head>
<body>
<div class="container">
    <div class="header-customer">
        <div class="info-customer">
            <h1>Thông tin của bạn</h1>
            <div class="info">
                <label for="name">Tên:</label>
                <span id="name" th:text="${customer.name}"></span>
            </div>
            <div class="info">
                <label for="phone">Số điện thoại: </label>
                <span id="phone" th:text="${customer.phone}"></span>
            </div>
            <div class="info">
                <label for="Point">Đã tích lũy được:</label>
                <span id="point" th:text="${customer.point} + ' điểm'"></span>
            </div>
        </div>
        <div class="btn-back">
            <a th:href="@{'/menu/' + ${tb}}"><i class="fa-solid fa-left-long"></i></a>
        </div>
    </div>
    <div class="info">
        <h2>Lịch sử đặt hàng</h2>
        <table>
            <tr>
                <th>ID đơn hàng</th>
                <th>Thời gian gọi món</th>
                <th>Thanh toán</th>
                <th>Số điểm sử dụng</th>
                <th>Tổng tiền</th>
                <th>Chi tiết</th>
            </tr>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.orderDateTime}"></td>
                <td th:text="${order.amount} + ' VNĐ'"></td>
                <td th:text="${order.point}"></td>
                <td th:text="${order.totalPrice} + ' VNĐ'"></td>
                <td><a th:href="@{'/my/' + ${tb} + '/' + ${order.id}}"><i class="fa-solid fa-magnifying-glass"></i></a></td>
            </tr>


        </table>
    </div>
</div>
</body>
</html>
