<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/info.css}">
    <script src="https://kit.fontawesome.com/3edce6b09c.js" crossorigin="anonymous"></script>
    <title>Thông tin khách hàng</title>
</head>
<body>
    <div class="container">
        <h1>Thông tin khách hàng</h1>
        <div class="info">
            <label for="name">Name:</label>
            <span id="name" th:text="${customer.name}"></span>
        </div>
        <div class="info">
            <label for="phone">Phone Number:</label>
            <span id="phone" th:text="${customer.phone}"></span>
        </div>
        <div class="info">
            <label for="Point">Points:</label>
            <span id="point" th:text="${customer.point}"></span>
        </div>
        <div class="info">
            <h2>Lịch sử đặt hàng</h2>
            <table>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Amount</th>
                    <th>Points</th>
                    <th>Total Price</th>
                    <th>Detail</th>
                </tr>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.orderDateTime}"> VNĐ</td>
                    <td th:text="${order.amount}"> VNĐ</td>
                    <td th:text="${order.point}"> VNĐ</td>
                    <td th:text="${order.totalPrice}"> VNĐ</td>
                    <td><a th:href="@{'/my/' + ${order.id}}"><i class="fa-solid fa-magnifying-glass"></i></a></td>
                </tr>


            </table>
        </div>
    </div>
</body>
</html>
